/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/


/* After the transition this will be the only class remaining */
.animate-show {

  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.animate-show.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/*
 * animations css stylesheet
 */

/* animate ngRepeat in phone listing */

ul.photos li.ng-enter,
ul.photos li.ng-leave,
ul.photos li.ng-move {
}

ul.photos li.ng-enter,
ul.photos li.ng-move {
  opacity: 0;
/*  height: 0;*/
  overflow: hidden;
}

ul.photos li.ng-move.ng-move-active,
ul.photos li.ng-enter.ng-enter-active {
  opacity: 1;
/*  height: 120px;*/
}

ul.photos li.ng-leave {
  opacity: 1;
  overflow: hidden;
}

ul.photos li.ng-leave.ng-leave-active {
  opacity: 0;
/*  height: 0;*/
/*  padding-top: 0;*/
/*  padding-bottom: 0;*/
}

/* cross fading between routes with ngView */

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  z-index: 100;
}

.view-frame.ng-leave {
  z-index: 99;
}


/*.photo, .detail {border:1px solid black;height:100px;}
.photo {background:red;}
.detail {background:green;}*/


body {
/*  height:102%;*/
/*  padding-top: 20px;*/
}

ul.photos{
  border:1px solid transparent;
  list-style:none;
}

html, body, .view-container {padding:0;margin:0;height:100%;}
.view-frame {}

html.photo_details { /* The individual photo page*/
  /* The 3 different photo views */
  section.photo, section.detail, section.room{
    
    .image-container {
/*      height:100%;*/
/*      img{max-width:50%;height:auto;display:block;margin:0 auto;}*/
/*    img {max-height:100%;height:100%;width:auto;}*/
    }
  } 
  
  
  /* Utility Buttons */
  nav {z-index:100;}
  #view_options{z-index:100;
    position:fixed;bottom:20px;
    margin:0 auto;left:0;right:0;
    width:362px;
    padding:0;
    li {
      display:inline-block; 
      a { 
      background: #f2f2f2; width: 60px; height: 60px; display: block;line-height: 60px;float: left;padding: 0; margin: 0 ;font-size: 14px;text-align:center;cursor:pointer;
      }
      
      a.pur { font-family: 'proxima_novasemibold', Open Sans, Helvetica Neue, sans-serif; width: 170px; color: #707070;display: block;font-size: 12px;letter-spacing: 0.3em;margin: 0;text-align: center;text-transform: uppercase;}
      a.pur:hover { color: #0299aa;} 
    }
    li.active a {
      background: #333333; color: #fff;
    }
  }
  .overlay, .scrollableoverlay {position:fixed;width:100%;height:100%;top:0;left:0;z-index:10;background:rgba(255,255,255,0.98);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    .flexbox {
      margin:0 200px;text-align:center;
    }
  }
  .scrollableoverlay{position:absolute;top:0;left:0;height:auto;min-height:100%;}
  
}


ul#sizes{
  list-style:none;
  li{
    display:block;width:40px;height:40px;
  }
  li.active{
    background:red;
  }
}

html.photo_details{
  #preload {background:url(../images/bg4.jpg);width:1px;height:1px;display:absolute;top:-1px;}
  #theroom, #nonroom{
    z-index:8;
    position:fixed;
  	text-align:center;
    width:6578px;
  	margin-left:-3289px;
  	padding-bottom:589px;
  	top:50%;
  	left:50%;
  	background: #fff url(../images/bg4.jpg) no-repeat center bottom;
    img {
      display:block;margin:0 auto;
    }
  }
  #nonroom{background:none;}
}
html.photo_details.room{
  
	#puchase_flex{
	  position:fixed;right:0px;height:100%;top:0px;
	  z-index:9;
	  display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	  #puchase_options{
	    padding:10px;margin-right:45px;
    }
	}
}


  /* ==================================================================================================================================================== */
  /* FONTS */
  /* ==================================================================================================================================================== */
  
  @font-face {
  	font-family: 'Variable-Bold';
  	src: url('../sass/type/Variable-Bold.eot?') format('eot'), 
  	     url('../sass/type/Variable-Bold.woff') format('woff'), 
  	     url('../sass/type/Variable-Bold.ttf')  format('truetype'),
  	     url('../sass/type/Variable-Bold.svg#Variable-Bold') format('svg');
  }
  
  @font-face {
  	font-family: 'AGaramondPro-Regular';
  	src: url('../sass/type/AGaramondPro-Regular.eot?') format('eot'), 
  	     url('../sass/type/AGaramondPro-Regular.woff') format('woff'), 
  	     url('../sass/type/AGaramondPro-Regular.ttf')  format('truetype'),
  	     url('../sass/type/AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
  }
  
  @font-face {
  	font-family: 'AGaramondPro-Italic';
  	src: url('../sass/type/AGaramondPro-Italic.eot?') format('eot'), 
  	     url('../sass/type/AGaramondPro-Italic.otf')  format('opentype'),
  	     url('../sass/type/AGaramondPro-Italic.woff') format('woff'), 
  	     url('../sass/type/AGaramondPro-Italic.ttf')  format('truetype'),
  	     url('../sass/type/AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
  }
  
  
  @font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../sass/proximanova-regular-webfont.eot');
    src: url('../sass/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sass/proximanova-regular-webfont.woff2') format('woff2'),
         url('../sass/proximanova-regular-webfont.woff') format('woff'),
         url('../sass/proximanova-regular-webfont.ttf') format('truetype'),
         url('../sass/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../sass/proximanova-semibold-webfont.eot');
    src: url('../sass/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sass/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../sass/proximanova-semibold-webfont.woff') format('woff'),
         url('../sass/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../sass/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==================================================================================================================================================== */
/* TEXT AND LINKS */
/* ==================================================================================================================================================== */


h1 { font-size: 40px;}
h2 { font-size: 3em; font-weight : 200;  }
h3 { font-size: 44px; font-weight : 100;}
h4 { }
h5 { text-transform: uppercase; color: #62687a;}

p.sub-head-italic { font-family: 'AGaramondPro-Italic', Garamond, Georgia, serif; font-size: 20px; color: #666666; font-weight: 100;letter-spacing: 0.5px;}
p.exp-head { font-size: 18px; color: #666666; text-transform: uppercase; padding: 0px 0 30px 0;letter-spacing: 0.3em;}
.var { font-family: 'proxima_nova_rgregular', Open Sans, Helvetica Neue, sans-serif;}
.gara-italic {font-family: 'AGaramondPro-Italic', Garamond, Georgia, serif;letter-spacing: 0.5px; }
.uppercase-space { text-transform: uppercase;letter-spacing: 0.3em;}
h2.tagline {font-size: 40px;color: #ffffff;line-height: 1.5em; }
p.subtag { font-size: 24px; color: #fff;}

.gara-spaced { font-family: 'AGaramondPro-Regular', Garamond, Georgia, serif;letter-spacing: 0.3em;text-transform: uppercase; font-size: 14px; }
.brandon-reg {font-family: 'brandon_grotesque_regularRg', Open Sans, Helvetica Neue, sans-serif; }
.brandon-med { font-family: 'brandon_grotesquemedium', Open Sans, Helvetica Neue, sans-serif;}

.color-dash-light-gray { color: #bec2cc; }
.color-white { color : #ffffff;} 

p { color: #666666;}

p.tagline { font-size : 1.2em; color: #666666;}
p.dash-emphasis { }

.center-text { text-align: center;}
.left-text { text-align: left;}
.right-text { text-align: right;}

a {
  color: #999999;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #0299aa;
}

.proxima { font-family: 'proxima_nova_rgregular', Garamond, Georgia, serif; }



html.photo_details {

  /* ==================================================================================================================================================== */
  /* HTML.PHOTO_DETAILS */
  /* ==================================================================================================================================================== */
  
  
  

  /* ==================================================================================================================================================== */
  /* MAIN CONTENT */
  /* ==================================================================================================================================================== */
  
  .proxima { font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;}  
  
 
   .main-container { height:100%; }
  .header { height: 80px; position:relative; z-index: 101;}
  .main-content { height: 90%;}
  .grid-cont { height: 90%;}
  .home-box { width: 15%; float: left;height: 100%; text-align: center; display:block;}
  .home-box a { line-height: 80px; z-index: 15;}
  .name-box { width: 70%; float: left;height: 100%;text-align: center;padding-top: 25px;}
  .name-box a:hover { cursor:pointer;}
  .settings-box { width: 15%; float: left;height: 100%; text-align: center; padding-top: 20px; }
  .thumb { width: 100%; padding:0px 7px 5px 7px;  }
  .thumb img { width: 100%;}
  .profile-desc p { font-size: 16px;}
  .profile-domain { text-transform: uppercase; letter-spacing: 0.3em; font-size: 18px;margin-bottom: 50px; }
  .profile-domain p { color: #000000;}
  .social-links-wrapper { text-align: center; margin-bottom: 70px; }
  ul.social-links {list-style: none;padding: 0; margin: 0;}
  ul.social-links li { display: inline; margin: 0 20px 0 20px; color: #b2b2b2;font-size: 18px;}
  
  .project  { display: block; width: 100%; height: 300px;background-size:cover !important;float:left;position:relative;margin-bottom: 10px; }
  .project:hover { opacity: 0.89;}
  ul.photo-grid { list-style-type: none; margin:0; padding:0;} 
  
  nav {margin: 0 auto; position: fixed; top: 42%;width: 100%; z-index: 9; 
    
    a.prev, span.prev_null { left: 25px; position: fixed;}
    a.next, span.next_null { right: 25px; position:fixed;}
    
    
    a i { font-size: 40px;}
    span i { font-size: 40px; color: #ecedf3;}  
  }
  
  
  /* ==================================================================================================================================================== */
  /* PROFILE */
  /* ==================================================================================================================================================== */
  
  .large-text { font-size: 2em;}
  
  /* ==================================================================================================================================================== */
  /* INFO */
  /* ==================================================================================================================================================== */
  
  
    .m_info-title { font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;text-transform: uppercase;letter-spacing: 0.3em; font-size: 30px;line-height: 1.4em; color: #333333;padding-top: 0px !important; text-align:center;}
    .m_info-desc {font-family: 'proxima_nova_rgregular', Open Sans, Helvetica Neue, sans-serif;font-size: 14px; color: gray;padding-top: 30px !important;line-height: 1.8em; }
    
    
  /* ==================================================================================================================================================== */
  /* ROOM */
  /* ==================================================================================================================================================== */

  p.item-desc {font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;text-transform: uppercase;letter-spacing: 0.3em; font-size: 14px;margin: 0; padding: 0; }
  p.price { font-size: 60px;font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif; margin: 0px; padding-top: 20px;padding-bottom: 0px;margin-bottom: 0px;}
  
    .currency { font-size: 18px; vertical-align: top; }
    
    
    
  .checkout-head { width: 100%;}
  .checkout-head p { margin: 0; padding: 0;}
  .checkout-head-center { width: 100%; float: left; padding-top: 20px;}
  .form-wrapper {width: 1000px; border-bottom: 1px solid #ccc;}
  .form-border { border: 1px solid #ccc;}
  p.photo-title { padding-bottom: 10px !important; font-size: 18px;}
  p.price-checkout { font-size: 50px;font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif; margin: 0px; padding-top: 15px;padding-bottom: 15px;}
  p.add-to-checkout { padding-top: 40px;}
  
  form#checkout-form input{width: 70%;}
  form {
    input { margin:0; padding:0;}
  }
  .checkout-input { margin: 0 auto; height: 40px; border: 1px solid #d7d7d7; padding-left: 15px; margin-bottom: 20px;}
  .checkout-input:focus { border: 1px solid #999999;}
  .checkout-input placeholder { color: #ccc;}
  .email-wrapper { padding: 25px 0 10px 0;}
  .address-wrapper { padding: 25px 0 25px 0;  width: 50%; float:left;}
  .credit-wrapper { padding: 25px 0 25px 0;  width: 50%; float:left; }
  .pay-wrapper {padding: 25px 0 25px 0; text-align: center; }
  .pay-wrapper input { padding: 20px; background: #36a8ad; border: none; border-radius: 3px;color: white;border: 1px solid #2d8d91; }
  
  .mail-title { width: 70%; margin: 0 auto;}
  .city-wrapper { width: 70%; margin: 0 auto;}
  .city-wrapper input, .card-number-wrapper input {height: 40px; border: 1px solid #d7d7d7; padding-left: 15px; margin-bottom: 20px; }
  .city-wrapper input:focus, .card-number-wrapper input:focus {border: 1px solid #999999; }
  .city-wrapper input.city { width: 35% !important; float: left; margin-right: 5%;}
  .city-wrapper input.state { width: 20% !important; float: left; margin-right:5%; }
  .city-wrapper input.zip { width: 20% !important; float: left;}
  p.mail-to { padding-bottom: 15px; color: #c1c1c1;}
  .card-number-wrapper {width: 70%; margin: 0 auto; }
  input.card-number { float: left; margin-right: 5%; width: 50% !important;}
  input.mm { width: 12.5% !important; float: left;}
  input.yy {width: 12.5% !important; float: left; border-left: none; }
  .card-title-left { width: 70%; margin-right: 5%;float: left;}
  .card-title-right { width: 25%;float: left;}
  input.ccv { width: 25% !important; float: left;}
  
  .credit_img { cursor:pointer; opacity: 0.9;}
  .credit_img:hover { opacity: 1;}
  
  
  .select-style {padding: 0;width: 70%;border: 1px solid #ccc;border-radius: 2px;overflow: hidden;background-color: #fff;margin: 0 auto;background: #fff url(images/arrowdown.gif) no-repeat 90% 50%;}
  
  .select-style select {padding: 10px 8px;width: 130%;height: 40px;border: none;box-shadow: none;background-color: transparent;background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      color: #c1c1c1;
      font-size: 14px;
  }
  
  .select-style select:focus {
      outline: none;
  }
  
  @media screen and (min-width: 320px) {

  #puchase_options { display:none; }

  }
  
  
  @media screen and (min-width: 420px) {

  #puchase_options { display:none; }

  }
  
    @media screen and (min-width: 640px) {

  #puchase_options { display:block;}

  }



  
  
  
  /* ==================================================================================================================================================== */
  /* END HTML.PHOTO_DETAILS */
  /* ==================================================================================================================================================== */

}



html.photographers_gallery{
 height:auto;border:none;
 body, .view-container{min-height:100%;height:auto;;border:none;}
 
  /* ==================================================================================================================================================== */
  /* NORMALIZE */
  /* ==================================================================================================================================================== */
 
 
   /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
  
  /**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS text size adjust after orientation change, without disabling
  * user zoom.
  */
  
  html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /**
  * Remove default margin.
  */
  
  body {
    margin: 0;
  }
  
  /* HTML5 display definitions
  ========================================================================== */
  
  /**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  
  /**
  * 1. Correct `inline-block` display not defined in IE 8/9.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }
  
  /**
  * Prevent modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  /**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
  */
  
  [hidden],
  template {
    display: none;
  }
  
  /* Links
  ========================================================================== */
  
  /**
  * Remove the gray background color from active links in IE 10.
  */
  
  a {
    background: transparent;
  }
  
  /**
  * Improve readability when focused and also mouse hovered in all browsers.
  */
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  /* Text-level semantics
  ========================================================================== */
  
  /**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
  
  abbr[title] {
    border-bottom: 1px dotted;
  }
  
  /**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
  
  b,
  strong {
    font-weight: bold;
  }
  
  /**
  * Address styling not present in Safari and Chrome.
  */
  
  dfn {
    font-style: italic;
  }
  
  /**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /**
  * Address styling not present in IE 8/9.
  */
  
  mark {
    background: #ff0;
    color: #000;
  }
  
  /**
  * Address inconsistent and variable font size in all browsers.
  */
  
  small {
    font-size: 80%;
  }
  
  /**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }


  sup {
    top: -0.5em;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  /* Embedded content
  ========================================================================== */
  
  /**
  * Remove border when inside `a` element in IE 8/9/10.
  */
  
  img {
    border: 0;
  }
  
  /**
  * Correct overflow not hidden in IE 9/10/11.
  */
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  /* Grouping content
  ========================================================================== */
  
  /**
  * Address margin not present in IE 8/9 and Safari.
  */
  
  figure {
    margin: 1em 40px;
  }
  
  /**
  * Address differences between Firefox and other browsers.
  */
  
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }
  
  /**
  * Contain overflow in all browsers.
  */
  
  pre {
    overflow: auto;
  }
  
  /**
  * Address odd `em`-unit font size rendering in all browsers.
  */
  
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  /* Forms
  ========================================================================== */
  
  /**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
  
  /**
  * 1. Correct color not being inherited.
  * Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
  }
  
  /**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
  
  button {
    overflow: visible;
  }
  
  /**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
  
  button,
  select {
    text-transform: none;
  }
  
  /**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  * and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  * `input` and others.
  */
  
  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
  }
  
  /**
  * Re-set default cursor for disabled elements.
  */
  
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  
  /**
  * Remove inner padding and border in Firefox 4+.
  */
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  /**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
  
  input {
    line-height: normal;
  }
  
  /**
  * It's recommended that you don't attempt to style these elements.
  * Firefox's implementation doesn't respect box-sizing, padding, or width.
  *
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  */
  
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
  * (include `-moz` to future-proof).
  */
  
  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
  }
  
  /**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
  * Define consistent border, margin, and padding.
  */
  
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  /**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
  
  legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
  
  textarea {
    overflow: auto;
  }
  
  /**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
  
  optgroup {
    font-weight: bold;
  }
  
  /* Tables
  ========================================================================== */
  
  /**
  * Remove most spacing between table cells.
  */
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }
  /* End normalise.css */
  
  /* new clearfix */
  .clearfix:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
  	}
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */
  
  /* box sizing:L border-box */
  *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  /* // box sizing */
  
  
  /*! responsive-nav.js 1
    width: 100%;
    display: block;
    list-style: none;
  }
  .nav-collapse li {
    width: 100%;
    display: block;
  }
  
  .nav-collapse li a { display: block;}
  .nav-collapse li.settings-icon a i.fa { line-height: 70px;}
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  .nav-collapse.opened {
    max-height: 9999px;
  }
  .disable-pointer-events {
    pointer-events: none !important;
  }
  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  /* // responsive-nav.js 1.0.31 by @viljamis */
  
  
  




  /* ==================================================================================================================================================== */
  /* STYLES */
  /* ==================================================================================================================================================== */
  
  
  /* ==================================================================================================================================================== */
  /* MAIN CONTENT */
  /* ==================================================================================================================================================== */
  
  .proxima { font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;}  
  
 
   .main-container { height:100%; }
  .header { height: 80px; }
  .main-content { height: 90%;}
  .grid-cont { height: 90%;}
  .home-box { width: 15%; float: left;height: 100%; text-align: center; display:block;}
  .home-box a { line-height: 80px;}
  .name-box { width: 70%; float: left;height: 100%;text-align: center;padding-top: 25px;}
  .name-box a:hover { cursor:pointer;}
  .settings-box { width: 15%; float: left;height: 100%; text-align: center; padding-top: 20px; }
  .thumb { width: 100%; padding:0px 7px 5px 7px;  }
  .thumb img { width: 100%;}
  .profile-desc p { font-size: 16px;}
  .profile-domain { text-transform: uppercase; letter-spacing: 0.3em; font-size: 18px;margin-bottom: 50px; }
  .profile-domain p { color: #000000;}
  .social-links-wrapper { text-align: center; margin-bottom: 70px; }
  ul.social-links {list-style: none;padding: 0; margin: 0;}
  ul.social-links li { display: inline; margin: 0 20px 0 20px; color: #b2b2b2;font-size: 18px;}
  
  .project  { display: block; width: 100%; height: 300px;background-size:cover !important;float:left;position:relative;margin-bottom: 10px; }
  .project:hover { opacity: 0.89;}
  ul.photo-grid { list-style-type: none; margin:0; padding:0;} 
  
  
  /* ==================================================================================================================================================== */
  /* SHOW */
  /* ==================================================================================================================================================== */


  a.option { background: #f2f2f2; width: 60px; height: 60px; display: block;line-height: 60px;float: left;padding-top: 0px; margin-top: 0px;font-size: 14px;}
  a.option.current { background: #333333; color: #fff;}

  /* ==================================================================================================================================================== */
  /* ROOM */
  /* ==================================================================================================================================================== */


  .bg-wrapper { height: 100%; width: 100%;}
  
  .bg-cont { 
    background: url("../images/mobile-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  
  }
  
  .desk-frame { display:none;height: 90%;}
  .mob-frame { height: 90%; }
  
  .main-content { display: none;}
  .m-frame-container {height: 15%;}
  .m-frame-details {text-align: center;}
  p.m-item-desc {font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;text-transform: uppercase;letter-spacing: 0.3em; font-size: 14px;margin: 0; padding: 0; }
  p.m-price { font-size: 60px;font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif; margin: 0px; padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;}
  .m-frame-sizes { padding-bottom: 20px; padding-top: 5px;margin-top: 5px; font-size: 13px;}
  .m-currency { font-size: 18px; vertical-align: top; }
  
  .m-frame-img { text-align: center;height: 45%; padding-top: 20px;}
  img.lrg-img { width: 400px; }
  img.med-img { width: 360px; }
  img.sml-img { width: 260px; }
  
  
  .m-buy-wrapper { text-align: center; width: 100%;padding-top: 15px; height: 15%; }
  a.m-buy-btn { background: none; border: 3px solid #707070; margin: 0 auto; width: 203px;display: block;padding: 25px;text-align: center; color: #707070;text-transform: uppercase;letter-spacing: 0.3em; font-size: 13px; }
  a.m-buy-btn:hover { background: #08b43a; color: white; border: 3px solid #08b43a; }
  
  
  .menu-cont {width: 100%; height: 25%;}
  .menu-wrap { width: 180px; height: 60px; margin: 0 auto; text-align: center; position: relative; top: 20px;}
  .m-menu ul { list-style: none;padding: 0; margin: 0;}
  .m-menu ul li { display: inline;}
  
  .hide-show { font-size: 18px;}
  
  #login-form.modal { width: 600px; }
  
  .modal {
    display: none;
    width: 600px;
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
   
  }
  
  .modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(images/close.png) no-repeat 0 0;
  }
  
  .modal-spinner {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -32px;
    margin-top: -32px;
    background: url(spinner.gif) #111 no-repeat center center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
  }
  
  ::-webkit-input-placeholder {
     color: #c1c1c1; font-size: 14px;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #c1c1c1; font-size: 14px;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #c1c1c1;  font-size: 14px;
  }
  
  :-ms-input-placeholder {  
     color: #c1c1c1;  font-size: 14px;
  }
  
  
  .checkout-head { width: 100%;}
  .checkout-head p { margin: 0; padding: 0;}
  .checkout-head-left {  width: 30%; float: left; text-align: center;padding-top: 30px;}
  .checkout-head-center { width: 50%; float: left; padding-top: 20px;}
  .checkout-head-right {  width: 20%; float: left;padding: 20px 30px 0 0;}
  .form-wrapper { background: #fdfdfd; width: 100%; border-top: 1px solid #ccc;}
  .pay-wrapper { background: #fff;}
  p.photo-title { padding-bottom: 10px !important; font-size: 18px;}
  p.price-checkout { font-size: 50px;font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif; margin: 0px; padding-top: 15px;padding-bottom: 15px;}
  p.add-to-checkout { padding-top: 40px;}
  
  form#checkout-form input{width: 70%;}
  .checkout-input { margin: 0 auto; height: 40px; border: 1px solid #d7d7d7; padding-left: 15px; margin-bottom: 20px;}
  .checkout-input:focus { border: 1px solid #999999;}
  .checkout-input placeholder { color: #ccc;}
  .email-wrapper { padding: 25px 0 10px 0; border-bottom: 1px solid #ccc;}
  .address-wrapper { padding: 25px 0 25px 0; border-bottom: 1px solid #ccc;}
  .credit-wrapper { padding: 25px 0 25px 0; border-bottom: 1px solid #ccc;}
  .pay-wrapper {padding: 25px 0 25px 0; border-bottom: 1px solid #ccc;text-align: center; }
  .pay-wrapper input { padding: 20px; background: #36a8ad; border: none; border-radius: 3px;color: white;border: 1px solid #2d8d91; }
  
  .mail-title { width: 70%; margin: 0 auto;}
  .city-wrapper { width: 70%; margin: 0 auto;}
  .city-wrapper input, .card-number-wrapper input {height: 40px; border: 1px solid #d7d7d7; padding-left: 15px; margin-bottom: 20px; }
  .city-wrapper input:focus, .card-number-wrapper input:focus {border: 1px solid #999999; }
  .city-wrapper input.city { width: 50% !important; float: left; margin-right: 5%;}
  .city-wrapper input.state { width: 20% !important; float: left; margin-right:5%; }
  .city-wrapper input.zip { width: 20% !important; float: left;}
  p.mail-to { padding-bottom: 15px; color: #c1c1c1;}
  .card-number-wrapper {width: 70%; margin: 0 auto; }
  input.card-number { float: left; margin-right: 5%;}
  input.mm { width: 12.5% !important; float: left;}
  input.yy {width: 12.5% !important; float: left; border-left: none; }
  .card-title-left { width: 70%; margin-right: 5%;float: left;}
  .card-title-right { width: 25%;float: left;}
  input.ccv { width: 25% !important; float: left;}
  
  
  .select-style {padding: 0;width: 70%;border: 1px solid #ccc;border-radius: 2px;overflow: hidden;background-color: #fff;margin: 0 auto;background: #fff url(images/arrowdown.gif) no-repeat 90% 50%;}
  
  .select-style select {padding: 10px 8px;width: 130%;height: 40px;border: none;box-shadow: none;background-color: transparent;background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      color: #c1c1c1;
      font-size: 14px;
  }
  
  .select-style select:focus {
      outline: none;
  }


  /* ==================================================================================================================================================== */
  /* INFO */
  /* ==================================================================================================================================================== */
  /*Info.image-container .info-container { height: 90%; margin: 0 auto;padding-top: 2%;background-image: url('../images/blurred-image.jpg') ;}*/
  
  .info-cont { height: 90%;}
  .info-wrapper { height: 75%;}
  .info-text-cont  { margin: 0; padding: 50px 20px 0px 20px;}
  .info-text-cont p { margin: 0; padding: 0;}
  
  
  .m_info-title { font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;text-transform: uppercase;letter-spacing: 0.3em; font-size: 30px;line-height: 1.4em; color: #333333;padding-top: 0px !important;}
  .m_info-desc {font-size: 18px; color: gray;padding-top: 30px !important; }
  .m_location-marker { margin-top: 110px; font-size: 18px; color: #cccccc;padding-bottom: 20px !important;}
  .m_location-info { text-transform: uppercase; color: #cccccc;font-size: 13px; padding-top: 20px !important; }
  
  
  
  /* ==================================================================================================================================================== */
  /* SHARE */
  /* ==================================================================================================================================================== */
  
  
  .overlay {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:rgba(255, 255, 255, 0.7);
      background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
      z-index:2;
      color:white;
  }
  
  .menu-cont { z-index: 15 !important;}
  .share-buttons { z-index:10; text-align: left; text-transform: uppercase; letter-spacing: 0.3em; font-size: 11px;}
  .share-buttons i { font-size: 14px;}
  .share-option.head { width: 180px; background: black; height: 60px;display: block; line-height: 60px; z-index: 10; color: white;position: absolute; bottom: 183px;padding-left: 30px;}
  
  a.share-option { width: 180px; background: #333333; height: 60px;display: block; line-height: 60px; z-index: 10; color: white;position: absolute;padding-left: 30px;}
  a.share-option.fb{ width: 180px; background: #333333; height: 60px;display: block; line-height: 60px; z-index: 10; color: white;position: absolute;bottom: 61px;}
  a.share-option.em { width: 180px; background: #333333; height: 60px;display: block; line-height: 60px; z-index: 10; color: white;position: absolute;bottom: 122px;}
  .share-buttons i { margin-right: 15px;}
  a.share-option:hover { background: black;}
  
  /* ==================================================================================================================================================== */
  /* PROFILE */
  /* ==================================================================================================================================================== */
  
  .profile_cont { height: 90%; padding-top: 30px; }
  .profile-close { width: 100%; text-align: center;}
  a.x_profile_close { text-indent: 100%; white-space: nowrap; overflow: hidden;background: url("../images/thin-close.png") 0 0 no-repeat; display: block;height: 38px; width: 38px; margin: 0px auto; opacity: 0.7; }
  a.x_profile_close:hover { opacity: 1;}	



  /* ==================================================================================================================================================== */
  /* RESPONSIVE */
  /* ==================================================================================================================================================== */

	
@media screen and (min-width: 420px) {

  .bg-cont { 
    background: url("../images/mobile-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  
  }




}


@media screen and (min-width: 640px) {

  .bg-cont { 
    background: url("../images/room-img.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  
  }
  
  /* Show */
  
  img.m_show_img {  width: 90%; padding-top: 80px; margin: 0 auto; }
  
  /* Room */

  img.lrg-img { width: 410px;}
  img.med-img { width: 390px;}
  img.sml-img { width: 340px;}
  
  .project  { display: block; width: 33.3333336%; height: 300px;background-size:cover !important;float:left;position:relative;margin: 0;}
  
	
  
}

@media screen and (min-width: 960px) {

  /* Main */
  .project  { display: block; width: 33.3333336%; height: 300px;background-size:cover !important;float:left;position:relative;margin: 0;}
  
  /* Show */
  

  img.m_show_img {  width: 65%; padding-top: 30px; margin: 0 auto; }
  
  .thumb { width: 33.3333336%; height: 33.3333336%;float: left; background: gray;padding: 0;}
  .thumb img { width: 100%; height: 100%;}
  
  .avatar-wrap img { width: 100px; height: 100px;}
  

  /* Room */
  
  .desk-frame { display: block; height: 90%;}
  .mob-frame { display: none;}
  
  .frame-container {width: 100%; height: 75%; text-align: center; }
  .frame-left { width: 22.5%; float: left;}
  .frame-center { width: 55%; float: left;padding-top: 40px;}
  .frame-right { width: 22.5%; float: left; text-align: left;padding-top: 80px;}
  .room-view { position: absolute;z-index: -1;}
  .frame-center img { padding-top: 5%; }
  
  .frame-sizes-wrapper { text-align: center;display: table; margin-bottom: 30px;}
  .frame-sizes-wrapper ul { list-style: none;margin: 0; padding: 0;}
  .frame-sizes-wrapper ul li { display: inline; font-size: 12px;}
  a.option-frame { background: #f2f2f2; width: 50px; height: 50px; display: block;line-height: 50px;float: left;margin-right: 1px;padding-top: 0px; margin-top: 0px;}
  a.option-frame.current { background: #333333; color: #fff;}
  a.purchase-btn { background: none; border: 3px solid #707070; margin: 0; width: 203px;display: block;padding: 25px;text-align: center; color: #707070;text-transform: uppercase;letter-spacing: 0.3em; font-size: 13px;}
  a.purchase-btn:hover { background: #08b43a; color: white; border: 3px solid #08b43a; }
  .info-btn { font-size: 20px;}
  
  
  p.item-desc {font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif;text-transform: uppercase;letter-spacing: 0.3em; font-size: 14px;margin: 0; padding: 0; }
  p.price { font-size: 60px;font-family:Proxima Nova, Open Sans, Helvetica Neue, sans-serif; margin: 0px; padding-top: 20px;padding-bottom: 0px;margin-bottom: 0px;}
  .currency { font-size: 18px; vertical-align: top; }
  .frame-sizes { padding-bottom: 20px; padding-top: 0px;margin-top: 5px; font-size: 13px;}
  i.hide-show { display: none;}
  img.lrg-img { width: 480px; }
  img.med-img { width: 390px;}
  img.sml-img { width: 340px;}
  
  /* Info */
  /* Share */



}

  

 
}