<div class="main-container">

    <div class="header">
        <div class="home-box">
        &nbsp;
        </div><!--end home-box-->
        <div class="name-box">
        <a class="var uppercase-space">{{photographer}}</a>
        </div><!--end name-box-->
        <div class="settings-box">
          &nbsp;
        </div><!--end settings-box-->
        <div class="clearfix"></div>
    </div>
    
    <ul class="photo-grid">
      <li ng-repeat="p in photos"> 
      <div class="grid-con">
        <a href="#/{{username}}/{{p.photo.id}}" class="project cc" style="background-image:url({{p.photo.image.display.url}});">
          <!--<h2>{{p.photo.title}}</h2>-->
        </a>
       <!-- <p>{{p.photo.description}}</p>-->
      </div>   
      
    </li>
  </ul>

</div>