<section id='photo'>

    <div class="header">
        <div class="home-box">
          <a href='#/photos/'> <i class="fa fa-th"></i></a>
        </div><!--end home-box-->
        <div class="name-box">
        <a class="var uppercase-space">{{photo.photographer}}</a>
        </div><!--end name-box-->
        <div class="settings-box">
          &nbsp;
        </div><!--end settings-box-->
        <div class="clearfix"></div>
    </div>



  <section class='animate-show {{layout}} photoview' ng-show="layout == 'photo'">
    <div data-ng-include data-src="'partials/photo/photo.html'">    
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview overlay' ng-show="overlay == 'detail'">
    <div data-ng-include data-src="'partials/photo/detail.html'">
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview overlay' ng-show="overlay == 'profile'">
    <div data-ng-include data-src="'partials/photo/profile.html'">
    </div>
  </section>
  <section class='animate-show {{layout}} photoview' ng-show="layout == 'room'">
    <div data-ng-include data-src="'partials/photo/room.html'">
    </div>
  </section>


  <nav>
    <a href='#/photos/{{photo.prev}}' ng-if="photo.prev != null" class="prev">Previous</a>
    <span ng-if="photo.prev == null">Previous</span>
    <a href='#/photos/{{photo.next}}' ng-if="photo.next != null" class="next">Next</a>
    <span ng-if="photo.next == null">Next</span>
  </nav>

  <ul id='view_options'>
    <li ng-class="{active: layout == 'photo'}" ng-click="layout = 'photo'"><a><i class="fa fa-expand"></i></a></li>
    <li ng-class="{active: layout == 'room'}" ng-click="layout = 'room'"><a><i class="fa fa-tags"></i></a></li>
    <li ng-class="{active: overlay == 'detail'}" ng-click="overlay = (overlay == 'detail' ? '' : 'detail')"><a><i class="fa fa-bars"></i></a></li>
    <li ng-class="{active: overlay == 'profile'}" ng-click="overlay = (overlay == 'profile' ? '' : 'profile')"><a><i class="fa fa-user"></i></a></li>
  </ul>
</section>