<section id='photo'>

    <div class="header">
        <div class="home-box">
          <a href='#/{{username}}'> <i class="fa fa-th"></i></a>
        </div><!--end home-box-->
        <div class="name-box">
        <a class="var uppercase-space" ng-class="{active: overlay == 'profile'}" ng-click="overlay = (overlay == 'profile' ? '' : 'profile')" >{{photo.photographer}}{{$window.Stripe}}</a>
        </div><!--end name-box-->
        <div class="settings-box">
          &nbsp;
        </div><!--end settings-box-->
        <div class="clearfix"></div>
    </div>



  <section class='animate-shows {{layout}} photoview' ng-show="layout == 'photo'">
    <div data-ng-include data-src="'partials/photo/photo.html'">    
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview overlay' ng-show="overlay == 'detail'">
    <div data-ng-include data-src="'partials/photo/detail.html'">
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview overlay' ng-show="overlay == 'profile'">
    <div data-ng-include data-src="'partials/photo/profile.html'">
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview scrollableoverlay' ng-show="overlay == 'purchase'">
    <div data-ng-include data-src="'partials/photo/purchase.html'">
    </div>
  </section>
  <section class='animate-shows {{layout}} photoview' ng-show="layout == 'room'">
    <div data-ng-include data-src="'partials/photo/room.html'">
    </div>
  </section>


  <nav>
    <a href='#/{{username}}/{{photo.next}}' ng-if="photo.next != null" class="prev"><i class="fa fa-angle-left"></i></a>
    <span ng-if="photo.next == null" class="prev_null"><i class="fa fa-angle-left"></i></span>
    <a href='#/{{username}}/{{photo.prev}}' ng-if="photo.prev != null" class="next"><i class="fa fa-angle-right"></i></a>
    <span ng-if="photo.prev == null" class="next_null"><i class="fa fa-angle-right"></i></span>
  </nav>

  <ul id='view_options'>
    <li ng-class="{active: layout == 'photo'}" ng-click="layout = 'photo'; overlay = ''"><a><i class="fa fa-expand"></i></a></li>
    <li ng-class="{active: layout == 'room'}" ng-click="layout = 'room'; overlay = ''"><a><i class="fa fa-tags"></i></a></li>
    <li ng-class="{active: overlay == 'detail'}" ng-click="overlay = (overlay == 'detail' ? '' : 'detail')"><a><i class="fa fa-bars"></i></a></li>
    <li ng-class="{active: overlay == 'purchase'}" ng-click="overlay = (overlay == 'purchase' ? '' : 'purchase')"><a class="pur">Buy Print</a></li>
  </ul>
</section>