<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fotio</title>
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="back-arrow">
      <a href="#/"> <img src="images/left-arrow.png"></a>
    </div>
    <div class="form-cont">
      <div class="form-features">
           <img class="logo-white-top" src="images/fotio_logo_top.png" width="80" height="28">
          <h1 class=" futura-light letter-spacing h1-white">Become a founding member.</h1>
          <h4 class="futura-light uppercase letter-spacing h4-white">Get Rewards.</h4>
          <p class="futura-light main-white">- 1 year pre-paid subscription. </br>- Subscription begins v1 release, late Spring 2015. </br>- Locked-in rate of $5/month (regularly $9) </br> - Graphic Design & Marketing Pack worth $50.</br> </br> * Note - You will not be charged until you have started using the product. </p>
          </div><!--end cont-left-text-->
          <div class="card-form futura">
            <form class="signup">
              <input type="text" name="username" placeholder="Username"  ><br> </br>
              <input type="text" name="email" placeholder="Email"><br></br>              
            
            </form>
          
          </div>
          
      <form stripe-form="handleStripe" name="myForm" id="landing-signup" class="futura" >
        <h4 class="futura-light uppercase letter-spacing h4-white left-text">Credit Card Details</h4>

        <div class="card-number-signup-wrapper">
          <label for="">Card Number</label> </br>
         <input type="text" class="card-number-signup" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" placeholder="Card Number"/> 
        </div>
  
        <div class="expiry-signup-wrapper">
        <label for="">Expiry</label>
         <input type="text" class="expiry-signup" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="MM YY" />
        </div>
        <div class="clearfix"></div>
  
  
        <div class="name-signup-wrapper">
         <label for="">Name </label>
         <input type="text" class="card-name-signup" placeholder="Name on Card">
        </div>
  
        <div class="cvc-signup-wrapper">
         <label for="">CVC</label>
         <input type="text" class="cvc-signup" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="card-total-wrap">
          <div class="card-total left-text">
              <h1 class=" futura-light letter-spacing h1-white">€60</h1>
              <h4 class="futura-light uppercase letter-spacing h4-white">Per year</h4>
          </div>
    
          <div class="signup-submit-wrapper">
           <button type="submit" class="uppercase futura-bold">Pay now</button>
          </div>
        <div class="clearfix"></div>
       </div> 
      </form>

          
          

      </div><!--end form-features-->
    </div><!-- form-cont-->
  </div><!--end container-->


  <img src="images/highway2.jpg" class="card-bg">
  
  
  
</body>
</html>
