<div class='flexbox'>
  <div class="checkout-head">
    <div class="checkout-head-center">
      <p class="gara-italic photo-title">{{photo.title}}</p>
      <p class="item-desc">{{thesize}} Framed Print</p>  
      <p class="price-checkout"><span class="currency">€</span>{{price}}</p>
      <p class="frame-sizes gara-spaced"> {{photo_width}}" x {{photo_height}}" In.</p></br>
    </div><!--end checkout-head-center-->
      
      
    <div class="clearfix"></div>
    
    <form stripe-form="handleStripe" name="myForm" id="photo-form" >
      <div class="card-number-stripe-wrapper">
        <label for="">Card Number</label> </br>
       <input type="text" class="card-number-stripe" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" placeholder="Card Number"/> 
      </div>

      <div class="expiry-stripe-wrapper">
      <label for="">Expiry</label>
       <input type="text" class="expiry-stripe" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
      </div>
      <div class="clearfix"></div>


      <div class="name-stripe-wrapper">
       <label for="">Name on card </label>
       <input type="text" class="card-name-stripe" placeholder="Name on Card">
      </div>

      <div class="cvc-stripe-wrapper">
       <label for="">CVC</label>
       <input type="text" class="cvc-stripe" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
      </div>

      <div>
       <button type="submit" class="btn btn-primary btn-large">Submit</button>
      </div>
      </form>
    
  </div>
</div>


