<div class='flexbox'>
  <div class="checkout-head">
    <div class="checkout-head-center">
      <p class="gara-italic photo-title">{{photo.title}}</p>
      <p class="item-desc">Medium Framed Print</p>
      <p class="price-checkout"><span class="currency">€</span>90</p>
      <p class="frame-sizes gara-spaced"> 18” x 12” In.</p></br>
    </div><!--end checkout-head-center-->
    <div class="clearfix"></div>
    
    <form id="checkout-form">
        
        <img class="credit_img" src="images/credit_img.png">

      </div><!--end form-wrapper-->
      
      
    
    </form>
    
  </div>
</div>


