<div class='flexbox'>
  <div class="checkout-head">
    <div class="checkout-head-center">
      <p class="gara-italic photo-title">{{photo.title}}</p>
      <p class="item-desc">{{thesize}} Framed Print</p>  
      <p class="price-checkout"><span class="currency">€</span>{{price}}</p>
      <p class="frame-sizes gara-spaced"> {{photo_width}}" x {{photo_height}}" In.</p></br>
    </div><!--end checkout-head-center-->
      
      
    <div class="clearfix"></div>
    
    <form stripe-form="handleStripe" name="myForm">
      <div class="span3">
       <label for="">Card number</label>
       <input type="text" class="input-block-level" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
      </div>

      <div class="span1">
       <label for="">Expiry</label>
       <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
      </div>

      <div class="span3">
       <label for="">Name on card </label>
       <input type="text" class="input-block-level">
      </div>

      <div class="span1">
       <label for="">CVC</label>
       <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
      </div>

      <div class="span4">
       <button type="submit" class="btn btn-primary btn-large">Submit</button>
      </div>
      </form>
    
  </div>
</div>


