<div id='theroom'
data-topheight='{{topheight}}'
ng-style="room_css"
>
  <div style='padding-top:{{pad}};padding-bottom:{{pad}}px'>
    <img ng-src="{{photo.framed_mini.url}}" style='max-width:inherit;' 
      height='{{metre_pixel_scale * actual_height}}'
      width='{{(metre_pixel_scale * actual_height) * (photo.width / photo.height)}}'> 
  </div>
</div>


<div id='puchase_flex'>
<div id='puchase_options'> 
  <p class="item-desc">Medium Framed Print</p>
  <p class="price"><span class="currency">€</span>{{price_m}}</p>
  <p class="frame-sizes gara-spaced"> {{photo_width}}" x {{photo_height}}" In.</p>
  </div>
</div>
</div>
