<div id='theroom' data-height='{{(1.1 * 100)}}' 
  data-topheightminuspadding='{{(1.1 * 100) + 150}}'
  data-topheight='{{(1.1 * 100) + 150 + 250}}'
  style='padding-top:150px;height:{{(1.1 * 100) + 150 + 250}}px;margin-top:-{{((1.1 * 100) + 150 + 250 + 589)/2}}px'>

  
  <div class='image-container'>
    <img ng-src="{{photo.display.url}}"> 
  </div>
</div>



<div id='puchase_options'>
  <h3>Large Framed Print</h3>
  <div id='price'>
    <span class='cur'>$</span><span class='theprice'>240</span>
  </div>
  <div id='dimensions'>
    18 <span class='by'>by</span> 24 <span class='unit'>IN</span>.
  </div> 
  <ul>
    <li>S</li>
    <li>M</li>
    <li>L</li>
  </ul>
  <a href='#' id='purchase'>Purchase</a>
</div>