<div id='theroom'
  data-topheight='{{(3.1 * 100)}}'
  style=';height:{{(3.1 * 100)}}px;margin-top:-{{((3.1 * 100)  + 589)/2}}px; border:2px solid white;'>
    <img ng-src="{{photo.framed_mini.url}}" style='margin-top:250px;' height='400px'> 
</div>

<!--<div id='theroom' 
  data-topheight='{{(3.1 * 100) + 350}}'
  style=';height:{{(3.1 * 100)}}px;margin-top:-{{((3.1 * 100)  + 589)/2}}px; border:2px solid white'>
-->


<div id='puchase_flex'>
<div id='puchase_options'>
 
            <p class="item-desc">Medium Framed Print</p>
            <p class="price"><span class="currency">$</span>180</p>
            <p class="frame-sizes gara-spaced"> 18” x 24” In.</p>
    
  </div>
</div>
</div>