/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* After the transition this will be the only class remaining */
/* line 10, ../sass/screen.scss */
.animate-show {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 1;
  /* Default value but added for clarity */
}

/* Initial state when showing */
/* line 20, ../sass/screen.scss */
.animate-show.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
/* line 26, ../sass/screen.scss */
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/*
 * animations css stylesheet
 */
/* animate ngRepeat in phone listing */
/* line 36, ../sass/screen.scss */
ul.photos li.ng-enter,
ul.photos li.ng-leave,
ul.photos li.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/* line 45, ../sass/screen.scss */
ul.photos li.ng-enter,
ul.photos li.ng-move {
  opacity: 0;
  /*  height: 0;*/
  overflow: hidden;
}

/* line 52, ../sass/screen.scss */
ul.photos li.ng-move.ng-move-active,
ul.photos li.ng-enter.ng-enter-active {
  opacity: 1;
  /*  height: 120px;*/
}

/* line 58, ../sass/screen.scss */
ul.photos li.ng-leave {
  opacity: 1;
  overflow: hidden;
}

/* line 63, ../sass/screen.scss */
ul.photos li.ng-leave.ng-leave-active {
  opacity: 0;
  /*  height: 0;*/
  /*  padding-top: 0;*/
  /*  padding-bottom: 0;*/
}

/* cross fading between routes with ngView */
/* line 72, ../sass/screen.scss */
.view-container {
  position: relative;
}

/* line 76, ../sass/screen.scss */
.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 85, ../sass/screen.scss */
.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

/* line 93, ../sass/screen.scss */
.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*.photo, .detail {border:1px solid black;height:100px;}
.photo {background:red;}
.detail {background:green;}*/
/* line 132, ../sass/screen.scss */
body {
  /*  height:102%;*/
  /*  padding-top: 20px;*/
}

/* line 137, ../sass/screen.scss */
ul.photos {
  border: 1px solid transparent;
  list-style: none;
}

/* line 142, ../sass/screen.scss */
html, body, .view-container {
  padding: 0;
  margin: 0;
  height: 100%;
  border: 1px solid red;
}

/* line 143, ../sass/screen.scss */
.view-frame {
  border: 1px solid transparent;
}

/* line 145, ../sass/screen.scss */
html.photo_details {
  /* The individual photo page*/
  /* The 3 different photo views */
  /* Utility Buttons */
}
/* line 149, ../sass/screen.scss */
html.photo_details section.photo .image-container, html.photo_details section.detail .image-container, html.photo_details section.room .image-container {
  height: 100%;
}
/* line 151, ../sass/screen.scss */
html.photo_details section.photo .image-container img, html.photo_details section.detail .image-container img, html.photo_details section.room .image-container img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* line 154, ../sass/screen.scss */
html.photo_details #puchase_options {
  position: absolute;
  right: 0px;
  top: 100px;
}
/* line 159, ../sass/screen.scss */
html.photo_details #view_options {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 200px;
  border: 1px solid red;
}
/* line 164, ../sass/screen.scss */
html.photo_details #view_options li {
  display: inline-block;
}
/* line 166, ../sass/screen.scss */
html.photo_details #view_options li a {
  width: 30px;
  border: 1px solid green;
  display: inline-block;
}
/* line 172, ../sass/screen.scss */
html.photo_details #view_options li.active a {
  background: yellow;
}

/* line 177, ../sass/screen.scss */
html.photo_details.room {
  background: #bbb;
}

/* line 181, ../sass/screen.scss */
html.photographers_gallery {
  height: auto;
  border: none;
  /* ==================================================================================================================================================== */
  /* NORMALIZE */
  /* ==================================================================================================================================================== */
  /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
  /**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS text size adjust after orientation change, without disabling
  * user zoom.
  */
  /**
  * Remove default margin.
  */
  /* HTML5 display definitions
  ========================================================================== */
  /**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
  /**
  * 1. Correct `inline-block` display not defined in IE 8/9.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
  /**
  * Prevent modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
  /**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
  */
  /* Links
  ========================================================================== */
  /**
  * Remove the gray background color from active links in IE 10.
  */
  /**
  * Improve readability when focused and also mouse hovered in all browsers.
  */
  /* Text-level semantics
  ========================================================================== */
  /**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
  /**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
  /**
  * Address styling not present in Safari and Chrome.
  */
  /**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
  /**
  * Address styling not present in IE 8/9.
  */
  /**
  * Address inconsistent and variable font size in all browsers.
  */
  /**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
  /* Embedded content
  ========================================================================== */
  /**
  * Remove border when inside `a` element in IE 8/9/10.
  */
  /**
  * Correct overflow not hidden in IE 9/10/11.
  */
  /* Grouping content
  ========================================================================== */
  /**
  * Address margin not present in IE 8/9 and Safari.
  */
  /**
  * Address differences between Firefox and other browsers.
  */
  /**
  * Contain overflow in all browsers.
  */
  /**
  * Address odd `em`-unit font size rendering in all browsers.
  */
  /* Forms
  ========================================================================== */
  /**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
  /**
  * 1. Correct color not being inherited.
  * Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  */
  /**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
  /**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
  /**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  * and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  * `input` and others.
  */
  /**
  * Re-set default cursor for disabled elements.
  */
  /**
  * Remove inner padding and border in Firefox 4+.
  */
  /**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
  /**
  * It's recommended that you don't attempt to style these elements.
  * Firefox's implementation doesn't respect box-sizing, padding, or width.
  *
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  */
  /**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
  /**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
  * (include `-moz` to future-proof).
  */
  /**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
  /**
  * Define consistent border, margin, and padding.
  */
  /**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
  /**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
  /**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
  /* Tables
  ========================================================================== */
  /**
  * Remove most spacing between table cells.
  */
  /* End normalise.css */
  /* new clearfix */
  /* IE6 */
  /* IE7 */
  /* box sizing:L border-box */
  /* // box sizing */
  /*! responsive-nav.js 1
    width: 100%;
    display: block;
    list-style: none;
  }
  .nav-collapse li {
    width: 100%;
    display: block;
  }
  
  .nav-collapse li a { display: block;}
  .nav-collapse li.settings-icon a i.fa { line-height: 70px;}
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  .nav-collapse.opened {
    max-height: 9999px;
  }
  .disable-pointer-events {
    pointer-events: none !important;
  }
  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  /* // responsive-nav.js 1.0.31 by @viljamis */
  /* ==================================================================================================================================================== */
  /* FONTS */
  /* ==================================================================================================================================================== */
  /* Text and Links */
  /* ==================================================================================================================================================== */
  /* STYLES */
  /* ==================================================================================================================================================== */
  /* ==================================================================================================================================================== */
  /* Responsive */
  /* ==================================================================================================================================================== */
}
/* line 183, ../sass/screen.scss */
html.photographers_gallery body, html.photographers_gallery .view-container {
  height: auto;
  border: none;
}
/* line 198, ../sass/screen.scss */
html.photographers_gallery html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* line 208, ../sass/screen.scss */
html.photographers_gallery body {
  margin: 0;
  height: 2000px;
}
/* line 222, ../sass/screen.scss */
html.photographers_gallery article,
html.photographers_gallery aside,
html.photographers_gallery details,
html.photographers_gallery figcaption,
html.photographers_gallery figure,
html.photographers_gallery footer,
html.photographers_gallery header,
html.photographers_gallery hgroup,
html.photographers_gallery main,
html.photographers_gallery nav,
html.photographers_gallery section,
html.photographers_gallery summary {
  display: block;
}
/* line 242, ../sass/screen.scss */
html.photographers_gallery audio,
html.photographers_gallery canvas,
html.photographers_gallery progress,
html.photographers_gallery video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/* line 255, ../sass/screen.scss */
html.photographers_gallery audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 265, ../sass/screen.scss */
html.photographers_gallery [hidden],
html.photographers_gallery template {
  display: none;
}
/* line 277, ../sass/screen.scss */
html.photographers_gallery a {
  background: transparent;
}
/* line 285, ../sass/screen.scss */
html.photographers_gallery a:active,
html.photographers_gallery a:hover {
  outline: 0;
}
/* line 297, ../sass/screen.scss */
html.photographers_gallery abbr[title] {
  border-bottom: 1px dotted;
}
/* line 305, ../sass/screen.scss */
html.photographers_gallery b,
html.photographers_gallery strong {
  font-weight: bold;
}
/* line 314, ../sass/screen.scss */
html.photographers_gallery dfn {
  font-style: italic;
}
/* line 323, ../sass/screen.scss */
html.photographers_gallery h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 332, ../sass/screen.scss */
html.photographers_gallery mark {
  background: #ff0;
  color: #000;
}
/* line 341, ../sass/screen.scss */
html.photographers_gallery small {
  font-size: 80%;
}
/* line 349, ../sass/screen.scss */
html.photographers_gallery sub,
html.photographers_gallery sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 357, ../sass/screen.scss */
html.photographers_gallery sup {
  top: -0.5em;
}
/* line 361, ../sass/screen.scss */
html.photographers_gallery sub {
  bottom: -0.25em;
}
/* line 372, ../sass/screen.scss */
html.photographers_gallery img {
  border: 0;
}
/* line 380, ../sass/screen.scss */
html.photographers_gallery svg:not(:root) {
  overflow: hidden;
}
/* line 391, ../sass/screen.scss */
html.photographers_gallery figure {
  margin: 1em 40px;
}
/* line 399, ../sass/screen.scss */
html.photographers_gallery hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/* line 409, ../sass/screen.scss */
html.photographers_gallery pre {
  overflow: auto;
}
/* line 417, ../sass/screen.scss */
html.photographers_gallery code,
html.photographers_gallery kbd,
html.photographers_gallery pre,
html.photographers_gallery samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* line 440, ../sass/screen.scss */
html.photographers_gallery button,
html.photographers_gallery input,
html.photographers_gallery optgroup,
html.photographers_gallery select,
html.photographers_gallery textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/* line 454, ../sass/screen.scss */
html.photographers_gallery button {
  overflow: visible;
}
/* line 465, ../sass/screen.scss */
html.photographers_gallery button,
html.photographers_gallery select {
  text-transform: none;
}
/* line 478, ../sass/screen.scss */
html.photographers_gallery button,
html.photographers_gallery html input[type="button"],
html.photographers_gallery input[type="reset"],
html.photographers_gallery input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/* line 490, ../sass/screen.scss */
html.photographers_gallery button[disabled],
html.photographers_gallery html input[disabled] {
  cursor: default;
}
/* line 499, ../sass/screen.scss */
html.photographers_gallery button::-moz-focus-inner,
html.photographers_gallery input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 510, ../sass/screen.scss */
html.photographers_gallery input {
  line-height: normal;
}
/* line 522, ../sass/screen.scss */
html.photographers_gallery input[type="checkbox"],
html.photographers_gallery input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 534, ../sass/screen.scss */
html.photographers_gallery input[type="number"]::-webkit-inner-spin-button,
html.photographers_gallery input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 545, ../sass/screen.scss */
html.photographers_gallery input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/* line 558, ../sass/screen.scss */
html.photographers_gallery input[type="search"]::-webkit-search-cancel-button,
html.photographers_gallery input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 567, ../sass/screen.scss */
html.photographers_gallery fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* line 578, ../sass/screen.scss */
html.photographers_gallery legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 587, ../sass/screen.scss */
html.photographers_gallery textarea {
  overflow: auto;
}
/* line 596, ../sass/screen.scss */
html.photographers_gallery optgroup {
  font-weight: bold;
}
/* line 607, ../sass/screen.scss */
html.photographers_gallery table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 612, ../sass/screen.scss */
html.photographers_gallery td,
html.photographers_gallery th {
  padding: 0;
}
/* line 619, ../sass/screen.scss */
html.photographers_gallery .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 627, ../sass/screen.scss */
html.photographers_gallery * html .clearfix {
  zoom: 1;
}
/* line 628, ../sass/screen.scss */
html.photographers_gallery *:first-child + html .clearfix {
  zoom: 1;
}
/* line 631, ../sass/screen.scss */
html.photographers_gallery *, html.photographers_gallery *:before, html.photographers_gallery *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'Variable-Bold';
    src: url("type/Variable-Bold.eot?") format("eot"), url("type/Variable-Bold.woff") format("woff"), url("type/Variable-Bold.ttf") format("truetype"), url("type/Variable-Bold.svg#Variable-Bold") format("svg");
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'AGaramondPro-Regular';
    src: url("type/AGaramondPro-Regular.eot?") format("eot"), url("type/AGaramondPro-Regular.woff") format("woff"), url("type/AGaramondPro-Regular.ttf") format("truetype"), url("type/AGaramondPro-Regular.svg#AGaramondPro-Regular") format("svg");
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'AGaramondPro-Italic';
    src: url("type/AGaramondPro-Italic.eot?") format("eot"), url("type/AGaramondPro-Italic.otf") format("opentype"), url("type/AGaramondPro-Italic.woff") format("woff"), url("type/AGaramondPro-Italic.ttf") format("truetype"), url("type/AGaramondPro-Italic.svg#AGaramondPro-Italic") format("svg");
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'brandon_grotesquemedium';
    src: url("type/brandon_med-webfont.eot");
    src: url("type/brandon_med-webfont.eot?#iefix") format("embedded-opentype"), url("type/brandon_med-webfont.woff") format("woff"), url("type/brandon_med-webfont.ttf") format("truetype"), url("type/brandon_med-webfont.svg#brandon_grotesquemedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'brandon_grotesquelight';
    src: url("type/brandon_light-webfont.eot");
    src: url("type/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("type/brandon_light-webfont.woff") format("woff"), url("type/brandon_light-webfont.ttf") format("truetype"), url("type/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'brandon_grotesqueRgIt';
    src: url("type/brandon_reg_it-webfont.eot");
    src: url("type/brandon_reg_it-webfont.eot?#iefix") format("embedded-opentype"), url("type/brandon_reg_it-webfont.woff") format("woff"), url("type/brandon_reg_it-webfont.ttf") format("truetype"), url("type/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    font-family: 'brandon_grotesque_regularRg';
    src: url("type/brandon_reg-webfont.eot");
    src: url("type/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("type/brandon_reg-webfont.woff") format("woff"), url("type/brandon_reg-webfont.ttf") format("truetype"), url("type/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
/* line 762, ../sass/screen.scss */
html.photographers_gallery h1 {
  font-size: 40px;
}
/* line 763, ../sass/screen.scss */
html.photographers_gallery h2 {
  font-size: 3em;
  font-weight: 200;
}
/* line 764, ../sass/screen.scss */
html.photographers_gallery h3 {
  font-size: 44px;
  font-weight: 100;
}
/* line 766, ../sass/screen.scss */
html.photographers_gallery h5 {
  text-transform: uppercase;
  color: #62687a;
}
/* line 768, ../sass/screen.scss */
html.photographers_gallery p.sub-head-italic {
  font-family: 'AGaramondPro-Italic', Garamond, Georgia, serif;
  font-size: 20px;
  color: #666666;
  font-weight: 100;
  letter-spacing: 0.5px;
}
/* line 769, ../sass/screen.scss */
html.photographers_gallery p.exp-head {
  font-size: 18px;
  color: #666666;
  text-transform: uppercase;
  padding: 0px 0 30px 0;
  letter-spacing: 0.3em;
}
/* line 770, ../sass/screen.scss */
html.photographers_gallery .var {
  font-family: 'Variable-Bold', Open Sans, Helvetica Neue, sans-serif;
}
/* line 771, ../sass/screen.scss */
html.photographers_gallery .gara-italic {
  font-family: 'AGaramondPro-Italic', Garamond, Georgia, serif;
  letter-spacing: 0.5px;
}
/* line 772, ../sass/screen.scss */
html.photographers_gallery .uppercase-space {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
/* line 773, ../sass/screen.scss */
html.photographers_gallery h2.tagline {
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5em;
}
/* line 774, ../sass/screen.scss */
html.photographers_gallery p.subtag {
  font-size: 24px;
  color: #fff;
}
/* line 776, ../sass/screen.scss */
html.photographers_gallery .gara-spaced {
  font-family: 'AGaramondPro-Regular', Garamond, Georgia, serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 777, ../sass/screen.scss */
html.photographers_gallery .brandon-reg {
  font-family: 'brandon_grotesque_regularRg', Open Sans, Helvetica Neue, sans-serif;
}
/* line 778, ../sass/screen.scss */
html.photographers_gallery .brandon-med {
  font-family: 'brandon_grotesquemedium', Open Sans, Helvetica Neue, sans-serif;
}
/* line 780, ../sass/screen.scss */
html.photographers_gallery .color-dash-light-gray {
  color: #bec2cc;
}
/* line 781, ../sass/screen.scss */
html.photographers_gallery .color-white {
  color: #ffffff;
}
/* line 783, ../sass/screen.scss */
html.photographers_gallery p {
  color: #666666;
}
/* line 785, ../sass/screen.scss */
html.photographers_gallery p.tagline {
  font-size: 1.2em;
  color: #666666;
}
/* line 788, ../sass/screen.scss */
html.photographers_gallery .center-text {
  text-align: center;
}
/* line 789, ../sass/screen.scss */
html.photographers_gallery .left-text {
  text-align: left;
}
/* line 790, ../sass/screen.scss */
html.photographers_gallery .right-text {
  text-align: right;
}
/* line 792, ../sass/screen.scss */
html.photographers_gallery a {
  color: #999999;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 800, ../sass/screen.scss */
html.photographers_gallery a:hover {
  color: #0299aa;
}
/* line 811, ../sass/screen.scss */
html.photographers_gallery .proxima {
  font-family: Proxima Nova, Open Sans, Helvetica Neue, sans-serif;
}
/* line 814, ../sass/screen.scss */
html.photographers_gallery .main-container {
  height: 100%;
}
/* line 815, ../sass/screen.scss */
html.photographers_gallery .header {
  height: 80px;
}
/* line 816, ../sass/screen.scss */
html.photographers_gallery .main-content {
  height: 90%;
}
/* line 817, ../sass/screen.scss */
html.photographers_gallery .grid-cont {
  height: 90%;
}
/* line 818, ../sass/screen.scss */
html.photographers_gallery .home-box {
  width: 15%;
  float: left;
  height: 100%;
  text-align: center;
  display: block;
}
/* line 819, ../sass/screen.scss */
html.photographers_gallery .home-box a {
  line-height: 80px;
}
/* line 820, ../sass/screen.scss */
html.photographers_gallery .name-box {
  width: 70%;
  float: left;
  height: 100%;
  text-align: center;
  padding-top: 25px;
}
/* line 821, ../sass/screen.scss */
html.photographers_gallery .name-box a:hover {
  cursor: pointer;
}
/* line 822, ../sass/screen.scss */
html.photographers_gallery .settings-box {
  width: 15%;
  float: left;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}
/* line 823, ../sass/screen.scss */
html.photographers_gallery .thumb {
  width: 100%;
  padding: 0px 7px 5px 7px;
}
/* line 824, ../sass/screen.scss */
html.photographers_gallery .thumb img {
  width: 100%;
}
/* line 825, ../sass/screen.scss */
html.photographers_gallery .profile-desc p {
  font-size: 16px;
}
/* line 826, ../sass/screen.scss */
html.photographers_gallery .profile-domain {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 18px;
  margin-bottom: 50px;
}
/* line 827, ../sass/screen.scss */
html.photographers_gallery .profile-domain p {
  color: #000000;
}
/* line 828, ../sass/screen.scss */
html.photographers_gallery .social-links-wrapper {
  text-align: center;
  margin-bottom: 70px;
}
/* line 829, ../sass/screen.scss */
html.photographers_gallery ul.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 830, ../sass/screen.scss */
html.photographers_gallery ul.social-links li {
  display: inline;
  margin: 0 20px 0 20px;
  color: #b2b2b2;
  font-size: 18px;
}
/* line 832, ../sass/screen.scss */
html.photographers_gallery .project {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover !important;
  float: left;
  position: relative;
  margin-bottom: 10px;
}
/* line 833, ../sass/screen.scss */
html.photographers_gallery .project:hover {
  opacity: 0.89;
}
/* line 834, ../sass/screen.scss */
html.photographers_gallery ul.photo-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 420px) {
  /* line 844, ../sass/screen.scss */
  html.photographers_gallery .bg-cont {
    background: url("../images/mobile-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}
@media screen and (min-width: 640px) {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    /* Show */
    /* Room */
  }
  /* line 862, ../sass/screen.scss */
  html.photographers_gallery .bg-cont {
    background: url("../images/room-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
  /* line 874, ../sass/screen.scss */
  html.photographers_gallery img.m_show_img {
    width: 90%;
    padding-top: 80px;
    margin: 0 auto;
  }
  /* line 878, ../sass/screen.scss */
  html.photographers_gallery img.lrg-img {
    width: 410px;
  }
  /* line 879, ../sass/screen.scss */
  html.photographers_gallery img.med-img {
    width: 390px;
  }
  /* line 880, ../sass/screen.scss */
  html.photographers_gallery img.sml-img {
    width: 340px;
  }
  /* line 882, ../sass/screen.scss */
  html.photographers_gallery .project {
    display: block;
    width: 33.3333336%;
    height: 300px;
    background-size: cover !important;
    float: left;
    position: relative;
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  /* line 181, ../sass/screen.scss */
  html.photographers_gallery {
    /* Main */
    /* Show */
    /* Room */
    /* Info */
    /* Share */
  }
  /* line 891, ../sass/screen.scss */
  html.photographers_gallery .project {
    display: block;
    width: 33.3333336%;
    height: 300px;
    background-size: cover !important;
    float: left;
    position: relative;
    margin: 0;
  }
  /* line 896, ../sass/screen.scss */
  html.photographers_gallery img.m_show_img {
    width: 65%;
    padding-top: 30px;
    margin: 0 auto;
  }
  /* line 898, ../sass/screen.scss */
  html.photographers_gallery .thumb {
    width: 33.3333336%;
    height: 33.3333336%;
    float: left;
    background: gray;
    padding: 0;
  }
  /* line 899, ../sass/screen.scss */
  html.photographers_gallery .thumb img {
    width: 100%;
    height: 100%;
  }
  /* line 901, ../sass/screen.scss */
  html.photographers_gallery .avatar-wrap img {
    width: 100px;
    height: 100px;
  }
  /* line 906, ../sass/screen.scss */
  html.photographers_gallery .desk-frame {
    display: block;
    height: 90%;
  }
  /* line 907, ../sass/screen.scss */
  html.photographers_gallery .mob-frame {
    display: none;
  }
  /* line 909, ../sass/screen.scss */
  html.photographers_gallery .frame-container {
    width: 100%;
    height: 75%;
    text-align: center;
  }
  /* line 910, ../sass/screen.scss */
  html.photographers_gallery .frame-left {
    width: 22.5%;
    float: left;
  }
  /* line 911, ../sass/screen.scss */
  html.photographers_gallery .frame-center {
    width: 55%;
    float: left;
    padding-top: 40px;
  }
  /* line 912, ../sass/screen.scss */
  html.photographers_gallery .frame-right {
    width: 22.5%;
    float: left;
    text-align: left;
    padding-top: 80px;
  }
  /* line 913, ../sass/screen.scss */
  html.photographers_gallery .room-view {
    position: absolute;
    z-index: -1;
  }
  /* line 914, ../sass/screen.scss */
  html.photographers_gallery .frame-center img {
    padding-top: 5%;
  }
  /* line 916, ../sass/screen.scss */
  html.photographers_gallery .frame-sizes-wrapper {
    text-align: center;
    display: table;
    margin-bottom: 30px;
  }
  /* line 917, ../sass/screen.scss */
  html.photographers_gallery .frame-sizes-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 918, ../sass/screen.scss */
  html.photographers_gallery .frame-sizes-wrapper ul li {
    display: inline;
    font-size: 12px;
  }
  /* line 919, ../sass/screen.scss */
  html.photographers_gallery a.option-frame {
    background: #f2f2f2;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    float: left;
    margin-right: 1px;
    padding-top: 0px;
    margin-top: 0px;
  }
  /* line 920, ../sass/screen.scss */
  html.photographers_gallery a.option-frame.current {
    background: #333333;
    color: #fff;
  }
  /* line 921, ../sass/screen.scss */
  html.photographers_gallery a.purchase-btn {
    background: none;
    border: 3px solid #707070;
    margin: 0;
    width: 203px;
    display: block;
    padding: 25px;
    text-align: center;
    color: #707070;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 13px;
  }
  /* line 922, ../sass/screen.scss */
  html.photographers_gallery a.purchase-btn:hover {
    background: #08b43a;
    color: white;
    border: 3px solid #08b43a;
  }
  /* line 923, ../sass/screen.scss */
  html.photographers_gallery .info-btn {
    font-size: 20px;
  }
  /* line 926, ../sass/screen.scss */
  html.photographers_gallery p.item-desc {
    font-family: Proxima Nova, Open Sans, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  /* line 927, ../sass/screen.scss */
  html.photographers_gallery p.price {
    font-size: 60px;
    font-family: Proxima Nova, Open Sans, Helvetica Neue, sans-serif;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 928, ../sass/screen.scss */
  html.photographers_gallery .currency {
    font-size: 18px;
    vertical-align: top;
  }
  /* line 929, ../sass/screen.scss */
  html.photographers_gallery .frame-sizes {
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 5px;
    font-size: 13px;
  }
  /* line 930, ../sass/screen.scss */
  html.photographers_gallery i.hide-show {
    display: none;
  }
  /* line 931, ../sass/screen.scss */
  html.photographers_gallery img.lrg-img {
    width: 480px;
  }
  /* line 932, ../sass/screen.scss */
  html.photographers_gallery img.med-img {
    width: 390px;
  }
  /* line 933, ../sass/screen.scss */
  html.photographers_gallery img.sml-img {
    width: 340px;
  }
}
